snippet testmyline
	--------------------------------------------------------------------------



snippet testmydate
	`strftime("=================== %a %b %d %Y %H:%M:%S %z =======================")`



# vim:nofoldenable
